<div class="container mt-5">

  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <div class="controllers">
    <%= link_to edit_task_path(@task) do %>
      <p><i class="fas fa-pencil-alt m-1"></i> EDIT</p>
    <% end %>
    <%# <%= link_to task_path(@task), method: :delete, data: { confirm: 'Are you sure you want to delete?'} %>
    <%= link_to task_path(@task), method: :delete do %>
      <p><i class="fas fa-trash-alt m-1"></i> DELETE</p>
    <% end %>
    <%= link_to tasks_path do %>
      <p><i class="fas fa-undo m-1"></i> Go back to tasks</p>
    <% end %>
  </div>
</div>

